@using MES.Client.Dialog.RotorSalesImages
@using MES.Shared.Models.Rotors


@using MES.Client.Utitlity
@using MES.Shared.DTOs
@using MES.Shared.Models
@using MES.Shared.Models.Rotors
@using System.Text
@using static MES.Client.Pages.LoginVC
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient HttpClient
@inject ISnackbar Snackbar
@inject IHttpClientFactory _httpClient
@inject IDialogCompletionService CompletionService
@inject IJSRuntime JS;


<div>
    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Details" Class="mr-2 mb-n1" />
                Incoming Inspection , Sales and Production Report
            </MudText>
            <br />
            <MudItem Class="d-flex center " md="12" sm="12" xs="12">
                <MudButton Class="mr-2" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" OnClick="PreviewImg">Preview Image</MudButton>
            </MudItem>
        </TitleContent>
        <DialogContent>

            @if (rotorProductionData != null)
            {
                <MudGrid>

                    <MudItem xs="4">
                        <MudTextField Label="Customer" @bind-Value="rotorProductionData.Customer" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField Label="Location" @bind-Value="rotorProductionData.Location" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField Label="Inspected Date" @bind-Value="rotorProductionData.Received" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField Label="Inspected by" @bind-Value="rotorProductionData.Inspected" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Rotors Serial Number" @bind-Value="rotorProductionData.RotorsNumber" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Make" @bind-Value="rotorProductionData.Make" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Dia" @bind-Value="rotorProductionData.Dia" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Len" @bind-Value="rotorProductionData.Len" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Flts" @bind-Value="rotorProductionData.Fits" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Material" @bind-Value="rotorProductionData.Materials" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Other" @bind-Value="rotorProductionData.Others" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">

                        <MudTextField Label="Incoming Rotor Dia." @bind-Value="rotorProductionData.RotorsDia" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Rotor Style" @bind-Value="rotorProductionData.RotorStyle" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Type" @bind-Value="rotorProductionData.Type" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Bearing Removed" @bind-Value="rotorProductionData.BearingRemoved" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Bearings" @bind-Value="rotorProductionData.Bearing" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Bearing Seals" @bind-Value="rotorProductionData.BearingSeals" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Ceramic Seals" @bind-Value="rotorProductionData.CeramicSeals" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Bearing Journal Dia (Left)" @bind-Value="rotorProductionData.Left" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Bearing Journal Dia (Left Detail)" @bind-Value="rotorProductionData.yLeft" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Bearing Journal Dia (Right)" @bind-Value="rotorProductionData.Right" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Bearing Journal Dia (Right Detail)" @bind-Value="rotorProductionData.yRight" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>



                    <MudItem xs="4">
                        <MudTextField Label="Basic Sharpening" @bind-Value="rotorProductionData.BasicSharpening" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label=" Basic Sharpening Detail" @bind-Value="rotorProductionData.IfYBasicSharpening" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Wedgelock Alignment Marks; Present" @bind-Value="rotorProductionData.BasicSharpening" Variant="Variant.Outlined" FullWidth="true" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Center Grinding" @bind-Value="rotorProductionData.CenterGrinding" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Center Grinding Detail" @bind-Value="rotorProductionData.IfYCenterGrinding" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Aligned" @bind-Value="rotorProductionData.Aligned" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>


                    <MudItem xs="4">
                        <MudTextField Label="Welding" @bind-Value="rotorProductionData.Welding" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="No. Of Welding" @bind-Value="rotorProductionData.WeldingNum" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Welding Comments" @bind-Value="rotorProductionData.Initials" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Bed Knife in Box" @bind-Value="rotorProductionData.BedKnife" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Re-Profile" @bind-Value="rotorProductionData.ReProfile" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Manual Labor" @bind-Value="rotorProductionData.ManualLabor" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Replace Blades" @bind-Value="rotorProductionData.BoxReceivedWithSaddles" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Box Received with Saddles (Bottom)" @bind-Value="rotorProductionData.Bottom" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Box Received with Saddles (Top)" @bind-Value="rotorProductionData.Top" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Plastic Sleeves" @bind-Value="rotorProductionData.PlasticSleaves" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Add QTY" @bind-Value="rotorProductionData.AddQty" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>


                    <MudItem xs="4">
                        <MudTextField Label="Saddle Part Number" @bind-Value="rotorProductionData.SaddlePartNumber" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>


                    <MudItem xs="6">
                        <MudTextField Label="Rotor Categorize" @bind-Value="rotorProductionData.RotorCategorization" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Sub-Module" @bind-Value="rotorProductionData.ComponentType" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>


                    <MudItem xs="4">
                        <MudTextField Label="Sales Order" @bind-Value="@rotorProductionData.SalesOrderNumber" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField Label="Job Order" @bind-Value="@rotorProductionData.WorkOrder" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Mat#" @bind-Value="@rotorProductionData.MatNumber" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Target Date" @bind-Value="rotorProductionData.TargetDate" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Customer Priority" @bind-Value="rotorProductionData.CustomerImportance" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Customer Instructions" @bind-Value="rotorProductionData.CustomerInstructions" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Work Center" @bind-Value="rotorProductionData.Workcenters" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>


                </MudGrid>
                
            }

        </DialogContent>
    </MudDialog>
</div>

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
    }

</style>



@code {
    [Inject] private IDialogService DialogService { get; set; } = default!;
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    [Parameter] public RotorShipping rotorShipping { get; set; }
   // public IncomingImages? serialImages;
    public List<IncomingImages>? serialImages = new();

    private RotorProductionData? rotorProductionData;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            HttpClient = _httpClient.CreateClient("ITS.ServerAPI");

            var swResponse = await HttpClient.GetAsync($"{ApiConstants.GetISPDataBySLno}/{rotorShipping.SerialNumber}");

            if (swResponse.IsSuccessStatusCode)
            {
                var swDataJson = await swResponse.Content.ReadAsStringAsync();

                if (!string.IsNullOrWhiteSpace(swDataJson))
                {
                    var SWDataList = JsonSerializer.Deserialize<List<RotorProductionData>>(swDataJson,
                    new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

                    rotorProductionData = SWDataList?.FirstOrDefault();

                }
            }
            else
            {
                Console.WriteLine($"API call failed: {swResponse.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching sales clearance data: {ex.Message}");
        }
    }
   
    private async Task PreviewImg()
    {
        HttpClient = _httpClient.CreateClient("ITS.ServerAPI");

        try
        {
            var imageResponse = await HttpClient.GetAsync($"{ApiConstants.GetImagesbySerialNumber}/{rotorShipping.SerialNumber}");

            if (imageResponse.IsSuccessStatusCode)
            {
                var data = await imageResponse.Content.ReadAsStringAsync();

                var recentData = JsonSerializer.Deserialize<List<IncomingImages>>(data,
                    new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

                serialImages = recentData ?? new List<IncomingImages>();


                if (serialImages != null && serialImages.Any())
                {
                    var parameters = new DialogParameters
                {
                    { "Images", serialImages }
                };

                    DialogService.Show<ViewSalesImgDialog>("View Images", parameters, DialogSettings.ViewImageDialogOptions);
                }
                else
                {
                    Snackbar.Add("No images available for this Rotor/Feed Role.", Severity.Error);
                }
            }
            else
            {
                Snackbar.Add("No images available for this Rotor/Feed Role.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error loading images: {ex.Message}", Severity.Error);
        }
    }

}
