@* @using MES.Client.Dialog.RotorSalesImages
@using MES.Shared.Models.Rotors


@using MES.Client.Utitlity
@using MES.Shared.DTOs
@using MES.Shared.Models
@using MES.Shared.Models.Rotors
@using System.Text
@using static MES.Client.Pages.LoginVC
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient HttpClient
@inject ISnackbar Snackbar
@inject IHttpClientFactory _httpClient
@inject IDialogCompletionService CompletionService
@inject IJSRuntime JS;


<div>
    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Details" Class="mr-2 mb-n1" />
                Incoming Inspection , Sales and Production Report
            </MudText>
            <br />
            <MudItem Class="d-flex center " md="12" sm="12" xs="12">
                <MudButton Class="mr-2" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" OnClick="PreviewImg">Preview Image</MudButton>
            </MudItem>
        </TitleContent>
        <DialogContent>

            @if (rotorShipping != null)
            {
                <MudGrid>

                    <MudItem xs="4">
                        <MudTextField Label="Customer" @bind-Value="rotorShipping.Customer" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField Label="Location" @bind-Value="rotorShipping.Location" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField Label="Inspected Date" @bind-Value="rotorShipping.Received" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField Label="Inspected by" @bind-Value="rotorShipping.Inspected" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Rotors Serial Number" @bind-Value="rotorShipping.RotorsNumber" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Make" @bind-Value="rotorShipping.Make" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Dia" @bind-Value="rotorShipping.Dia" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Len" @bind-Value="rotorShipping.Len" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Flts" @bind-Value="rotorShipping.Fits" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Materials" @bind-Value="rotorShipping.Materials" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Others" @bind-Value="rotorShipping.Others" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">

                        <MudTextField Label="Incoming Rotor Dia." @bind-Value="rotorShipping.RotorsDia" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Rotor Style" @bind-Value="rotorShipping.RotorStyle" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Type" @bind-Value="rotorShipping.Type" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Bearing Removed" @bind-Value="rotorShipping.BearingRemoved" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Bearings" @bind-Value="rotorShipping.Bearing" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Bearing Seals" @bind-Value="rotorShipping.BearingSeals" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Ceramic Seals" @bind-Value="rotorShipping.CeramicSeals" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Bearing Journal Dia (Left)" @bind-Value="rotorShipping.Left" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Bearing Journal Dia (Left Details)" @bind-Value="rotorShipping.yLeft" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Bearing Journal Dia (Right)" @bind-Value="rotorShipping.Right" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Bearing Journal Dia (Right Details)" @bind-Value="rotorShipping.yRight" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>



                    <MudItem xs="4">
                        <MudTextField Label="Basic Sharpening" @bind-Value="rotorShipping.BasicSharpening" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label=" Basic Sharpening Details" @bind-Value="rotorShipping.IfYBasicSharpening" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Wedgelock Alignment Marks; Present" @bind-Value="rotorShipping.BasicSharpening" Variant="Variant.Outlined" FullWidth="true" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Center Grinding" @bind-Value="rotorShipping.CenterGrinding" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Center Grinding Detail" @bind-Value="rotorShipping.IfYCenterGrinding" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Aligned" @bind-Value="rotorShipping.Aligned" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>


                    <MudItem xs="4">
                        <MudTextField Label="Welding" @bind-Value="rotorShipping.Welding" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="No. Of Welding" @bind-Value="rotorShipping.WeldingNum" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Welding Comments" @bind-Value="rotorShipping.Initials" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Bed Knife in Box" @bind-Value="rotorShipping.BedKnife" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Re-Profile" @bind-Value="rotorShipping.ReProfile" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Manual Labor" @bind-Value="rotorShipping.ManualLabor" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Replace Blades" @bind-Value="rotorShipping.BoxReceivedWithSaddles" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Box Received with Saddles (Down)" @bind-Value="rotorShipping.Bottom" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Box Received with Saddles (Top)" @bind-Value="rotorShipping.Top" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Plastic Sleeves" @bind-Value="rotorShipping.PlasticSleaves" FullWidth="true" Variant="Variant.Outlined" ReadOnly />

                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="QTY" @bind-Value="rotorShipping.AddQty" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>


                    <MudItem xs="4">
                        <MudTextField Label="Saddle Part Number" @bind-Value="rotorShipping.SaddlePartNumber" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>


                    <MudItem xs="6">
                        <MudTextField Label="Rotor Categorize" @bind-Value="rotorShipping.RotorCategorization" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Sub-Module" @bind-Value="rotorShipping.ComponentType" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>


                    <MudItem xs="4">
                        <MudTextField Label="Sales Order" @bind-Value="@rotorShipping.SalesOrderNumber" Variant="Variant.Outlined" />
                    </MudItem>
                    <MudItem xs="4">
                        <MudTextField Label="Job Order" @bind-Value="@rotorShipping.WorkOrder" Variant="Variant.Outlined" />
                    </MudItem>

                    <MudItem xs="4">
                        <MudTextField Label="Mat#" @bind-Value="@rotorShipping.MatNumber" Variant="Variant.Outlined" />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Target Date" @bind-Value="rotorShipping.TargetDate" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Customer Priority" @bind-Value="rotorShipping.CustomerImportance" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Customer Instructions" @bind-Value="rotorShipping.CustomerInstructions" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>

                    <MudItem xs="6">
                        <MudTextField Label="Work Center" @bind-Value="rotorShipping.Workcenters" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>


                </MudGrid>
                
            }

        </DialogContent>
    </MudDialog>
</div>

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
    }

</style>



@code {
    [Inject] private IDialogService DialogService { get; set; } = default!;
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    [Parameter] public RotorShipping rotorShipping { get; set; }
   // public IncomingImages? serialImages;
    public List<IncomingImages>? serialImages = new();
   
    private async Task PreviewImg()
    {
        HttpClient = _httpClient.CreateClient("ITS.ServerAPI");

        try
        {
            var imageResponse = await HttpClient.GetAsync($"{ApiConstants.GetImagesbySerialNumber}/{rotorShipping.SerialNumber}");

            if (imageResponse.IsSuccessStatusCode)
            {
                var data = await imageResponse.Content.ReadAsStringAsync();

                var recentData = JsonSerializer.Deserialize<List<IncomingImages>>(data,
                    new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

                serialImages = recentData ?? new List<IncomingImages>();


                if (serialImages != null && serialImages.Any())
                {
                    var parameters = new DialogParameters
                {
                    { "Images", serialImages }
                };

                    DialogService.Show<ViewSalesImgDialog>("View Images", parameters, DialogSettings.ViewImageDialogOptions);
                }
                else
                {
                    Snackbar.Add("No images available for this Rotor/Feed Role.", Severity.Error);
                }
            }
            else
            {
                Snackbar.Add("No images available for this Rotor/Feed Role.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error loading images: {ex.Message}", Severity.Error);
        }
    }

}
 *@