@using MES.Shared.Models.Rotors


@using MES.Client.Utitlity
@using MES.Shared.DTOs
@using MES.Shared.Models
@using MES.Shared.Models.Rotors
@using System.Text
@using static MES.Client.Pages.LoginVC
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient HttpClient
@inject ISnackbar Snackbar
@inject IHttpClientFactory _httpClient
@inject IDialogCompletionService CompletionService
@inject IJSRuntime JS;


<div>
    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.Details" Class="mr-2 mb-n1" />
                Sales Clearance and Shipping Report
            </MudText>
        </TitleContent>
        <DialogContent>

            @if (rotorShipping != null)
            {
                <MudGrid>

                    <MudItem xs="12">
                        <MudTextField Label="Shipping Instructions" @bind-Value="rotorShipping.AdditionalWSalesComments" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                    <MudItem xs="6">
                        <MudTextField Label="Shipped Date" @bind-Value="rotorShipping.ShipSubmitedByDate" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                    <MudItem xs="6">
                        <MudTextField Label="Shipped By" @bind-Value="rotorShipping.ShipSubmiteddBy" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                    </MudItem>
                  

                </MudGrid>


            }

        </DialogContent>
    </MudDialog>
</div>

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
    }

</style>



@code {
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    [Parameter] public RotorShipping rotorShipping { get; set; }


}
